<div class="new-addendums">
    <div class="head d-flex align-items-center justify-content-between">
        <h4 class="fw-medium">Addendum</h4>
        <button (click)="cancel()" class="bg-transparent border-0"><i class="fa-solid fa-x"></i></button>
    </div>
    <div class="body px-4 py-2">
        <div class="addendum-information">
            <div class="title">
                <h5>Addendum information</h5>
            </div>
            <form class="row mt-4 g-3" [formGroup]="addendumInformationForm">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Addendum Number</mat-label>
                        <input formControlName="addendumNo" matInput>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumInformationForm.controls['addendumNo'].invalid && 
                 addendumInformationForm.controls['addendumNo']?.touched">Addendum Number is required</span>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Addendum date</mat-label>
                        <input matInput formControlName="addendumDate" [matDatepicker]="addendumDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="addendumDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #addendumDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Company</mat-label>
                        <input formControlName="companyId" type="text" matInput [matAutocomplete]="autoCompany"
                            (input)="getCompanies()">
                        <mat-autocomplete autoActiveFirstOption #autoCompany="matAutocomplete">
                            <mat-option *ngFor="let company of companyList" [value]="company.value">
                                {{ company.value }}
                            </mat-option>
                            <mat-option *ngIf="!companyList?.length" disabled>
                                No results found
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumInformationForm.controls['companyId'].invalid && 
                 addendumInformationForm.controls['companyId']?.touched">Company is required</span>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Contract</mat-label>
                        <mat-select formControlName="contractId" placeholder="Not Selected">
                            <mat-option *ngFor="let contract of contractList" [value]="contract.key">
                                {{ contract.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumInformationForm.controls['contractId'].invalid && 
                 addendumInformationForm.controls['contractId']?.touched">Contract is required</span>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Effective date</mat-label>
                        <input formControlName="effectiveDate" matInput [matDatepicker]="effectiveDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="effectiveDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #effectiveDatePicker></mat-datepicker>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumInformationForm.controls['effectiveDate'].invalid && 
                 addendumInformationForm.controls['effectiveDate']?.touched">Effective date is required</span>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>End date</mat-label>
                        <input formControlName="endDate" matInput [matDatepicker]="endDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumInformationForm.controls['endDate'].invalid && 
                 addendumInformationForm.controls['endDate']?.touched">End date is required</span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="upload-file text-center rounded p-3 position-relative">
                        <input type="file" class="w-100 position-absolute top-0 start-0 z-1 opacity-0">
                        <span class="">Drag & Drop your files or Browse</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="addendum-details mt-4">
            <div class="title">
                <h5>Addendum Details</h5>
            </div>
            <form class="row mt-4 g-3" [formGroup]="addendumDetailsForm">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Transportation module</mat-label>
                        <mat-select formControlName="transportationModuleId" placeholder="Not Selected">
                            <mat-option *ngFor="let transportModuleType of transportModuleTypesList"
                                [value]="transportModuleType.key">
                                {{transportModuleType.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumDetailsForm.controls['transportationModuleId'].invalid && 
                 addendumDetailsForm.controls['transportationModuleId']?.touched">Transportation module is
                        required</span>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Mode</mat-label>
                        <mat-select formControlName="transportTypeId" placeholder="Not Selected">
                            <mat-option *ngFor="let transportType of transportTypesList" [value]="transportType.key">
                                {{transportType.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumDetailsForm.controls['transportTypeId'].invalid && 
                 addendumDetailsForm.controls['transportTypeId']?.touched">Transportation type is required</span>
                </div>
                <div [ngClass]="{'d-none': toggleInput === true, 'd-block': toggleInput === false}"
                    class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Shipping</mat-label>
                        <input placeholder="Not Selected" formControlName="startPointId" type="text" matInput
                            [matAutocomplete]="autoShipping" (input)="getPointsByTransportationModule()">
                        <mat-autocomplete autoActiveFirstOption #autoShipping="matAutocomplete">
                            <mat-option *ngFor="let startPoint of startPointList" [value]="startPoint.value">
                                {{ startPoint.value }}
                            </mat-option>
                            <mat-option *ngIf="!startPointList?.length" disabled>
                                No results found
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumDetailsForm.controls['startPointId'].invalid && 
                 addendumDetailsForm.controls['startPointId']?.touched">Start point not selected</span>
                </div>
                <div [ngClass]="{'d-none': toggleInput === false, 'd-block': toggleInput === true}"
                    class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Point</mat-label>
                        <input formControlName="pointId" type="text" matInput [matAutocomplete]="autoPoint"
                            (input)="getPointsByTransportationModule()">
                        <mat-autocomplete autoActiveFirstOption #autoPoint="matAutocomplete">
                            <mat-option *ngFor="let startPoint of startPointList" [value]="startPoint.value">
                                {{ startPoint.value }}
                            </mat-option>
                            <mat-option *ngIf="!startPointList?.length" disabled>
                                No results found
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumDetailsForm.controls['pointId'].invalid && 
                 addendumDetailsForm.controls['pointId']?.touched">Point not selected</span>
                </div>
                <div [ngClass]="{'d-none': toggleInput === true, 'd-block': toggleInput === false}"
                    class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Destination</mat-label>
                        <input formControlName="endPointId" type="text" matInput [matAutocomplete]="autoDestination"
                            (input)="getPointsByTransportationModule()">
                        <mat-autocomplete autoActiveFirstOption #autoDestination="matAutocomplete">
                            <mat-option *ngFor="let startPoint of startPointList" [value]="startPoint.value">
                                {{ startPoint.value }}
                            </mat-option>
                            <mat-option *ngIf="!startPointList?.length" disabled>
                                No results found
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumDetailsForm.controls['endPointId'].invalid && 
                 addendumDetailsForm.controls['endPointId']?.touched">End point not selected</span>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Border entry</mat-label>
                        <mat-select formControlName="borderEntryStationId" placeholder="Not Selected">
                            <mat-option [value]="borderStation.value"
                                *ngFor="let borderStation of borderStationList">{{borderStation.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumDetailsForm.controls['borderEntryStationId'].invalid && 
                 addendumDetailsForm.controls['borderEntryStationId']?.touched">Border entry is required</span>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Border exit</mat-label>
                        <mat-select formControlName="borderExitStationId" placeholder="Not Selected">
                            <mat-option [value]="borderStation.value"
                                *ngFor="let borderStation of borderStationList">{{borderStation.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumDetailsForm.controls['borderExitStationId'].invalid && 
                 addendumDetailsForm.controls['borderExitStationId']?.touched">Border exit is required</span>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="categoryId" placeholder="Not Selected">
                            <mat-option [value]="transportCategory.value"
                                *ngFor="let transportCategory of transportCategoryList">{{transportCategory.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="wagonTypeId" placeholder="Not Selected">
                            <mat-option *ngFor="let transportTypesByCategory of transportTypesByCategoryList"
                                [value]="transportTypesByCategory.value">{{transportTypesByCategory.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div [ngClass]="{'col-12 col-sm-12 col-md-8 col-lg-8': toggleInput === true}"
                    class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Cargo(QNQ/ETSNQ)</mat-label>
                        <input (input)="getQnqEtsnqs()" placeholder="Not Selected" formControlName="cargoId" type="text"
                            matInput [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option [value]="qnqEtsnq.value"
                                *ngFor="let qnqEtsnq of qnqEtsnqsList">{{qnqEtsnq.value}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <span class="validation-text text-danger fw-medium" *ngIf="addendumDetailsForm.controls['cargoId'].invalid && 
                 addendumDetailsForm.controls['cargoId']?.touched">Cargo not selected</span>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input formControlName="quantity" type="number" matInput>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Tariff</mat-label>
                        <input formControlName="tariff" type="number" matInput>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Purchase cost</mat-label>
                        <input formControlName="cost" type="number" matInput>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Loss percentage</mat-label>
                        <input formControlName="lossPercentage" type="number" matInput>
                    </mat-form-field>
                </div>
                <div class="add-btn d-flex align-items-center justify-content-end">
                    <button [ngClass]="{
                        'text-white opacity-50': addendumDetailsForm.invalid,
                        'opacity-100': addendumDetailsForm.valid
                    }" [disabled]="addendumDetailsForm.invalid"
                        class="d-flex align-items-center text-white border-0 outline-0 px-3 py-2 rounded gap-2">
                        <i class="fa-solid fa-plus"></i>
                        Add
                    </button>
                </div>
            </form>
            <div class="addendum-details-table">
                <form class="mt-4">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="no">
                            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
                                No.
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>
                        <ng-container matColumnDef="transportationModule">
                            <th class="text-center align-middle fw-bold py-2 w-100" mat-header-cell *matHeaderCellDef>
                                Transportation module
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="mode">
                            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
                                Mode
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.taxId}} </td>
                        </ng-container>
                        <ng-container matColumnDef="point">
                            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
                                Point
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.address}} </td>
                        </ng-container>
                        <ng-container matColumnDef="borderEntry">
                            <th class="text-center align-middle fw-bold py-2 w-100" mat-header-cell *matHeaderCellDef>
                                Border entry
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="borderExit">
                            <th class="text-center align-middle fw-bold py-2 w-100" mat-header-cell *matHeaderCellDef>
                                Border exit
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.sapcode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cargo">
                            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
                                Cargo
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.sapcode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="type">
                            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
                                Type
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.sapcode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
                                Quantity
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.sapcode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tariff">
                            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
                                Tariff
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.sapcode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cost">
                            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
                                Cost
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.sapcode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lossPercentage">
                            <th class="text-center align-middle fw-bold py-2 w-100" mat-header-cell *matHeaderCellDef>
                                Loss percentage
                            </th>
                            <td class="align-middle" mat-cell *matCellDef="let element"> {{element.sapcode}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="footer p-4">
        <div class="buttons d-flex align-items-center justify-content-end gap-4">
            <button (click)="cancel()" mat-flat-button class="cancel text-dark bg-transparent">Cancel</button>
            <button (click)="saveData()" mat-flat-button class="save" [ngClass]="{
        'text-white opacity-50': addendumInformationForm.invalid,
        'opacity-100': addendumInformationForm.valid
    }" [disabled]="addendumInformationForm.invalid">
                Save
            </button>
        </div>
    </div>
</div>