<div class="new-addendums">
    <div class="head d-flex align-items-center justify-content-between">
        <h4 class="fw-medium">Addendum</h4>
        <button (click)="cancel()" class="bg-transparent border-0"><i class="fa-solid fa-x"></i></button>
    </div>
    <form class="px-4 py-2">
        <div class="addendum-information">
            <div class="title">
                <h5>Addendum information</h5>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Addendum Number</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Addendum date</mat-label>
                        <input matInput [matDatepicker]="addendumDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="addendumDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #addendumDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Company</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Contract</mat-label>
                        <mat-select>
                            <mat-option value="test1">test1</mat-option>
                            <mat-option value="test2">test2</mat-option>
                            <mat-option value="test3">test3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Effective date</mat-label>
                        <input matInput [matDatepicker]="effectiveDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="effectiveDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #effectiveDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>End date</mat-label>
                        <input matInput [matDatepicker]="endDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            
        </div>
        <div class="buttons d-flex align-items-center justify-content-end gap-4">
            <button (click)="cancel()" mat-flat-button class="cancel text-dark bg-transparent">Cancel</button>
            <button mat-flat-button class="save">Save</button>
        </div>
    </form>
</div>