.new-addendums {
  .head {
    padding: 15px 20px;
    background-color: #f5f4f9;
    position: fixed;
    width: 70%;
    z-index: 100;

    i {
      color: #231d65;
    }
    h4 {
      color: #231d65;
      font-size: 16px;
    }
  }

  .body {
    margin-top: 70px;

    .validation-text {
      font-size: 14px;
      letter-spacing: 0.4px;
    }

    .addendum-information {
      .upload-file {
        border: 1px dashed #ccc;
        cursor: pointer;
        background-color: #f9f9f9;
        transition: background-color 0.3s;

        input {
          cursor: pointer;
        }

        &:hover {
          background-color: #f1f1f1;
        }

        span {
          font-size: 14px;
          color: #555;
          opacity: 0.8;
        }
      }
    }

    .addendum-details {
      .add-btn button {
        background-color: #31279c;
      }

      .addendum-details-table {
        form {
          table {
            border: 1px solid #dfdfdf;

            tr {
              overflow: auto;
              width: 300px;
              height: 36px;
              background-color: #fff;

              &:nth-child(2n-2) {
                background-color: #e9ecef;
              }

              th {
                border: 1.5px solid #dfdfdf;
                background-color: rgb(244, 243, 249) !important;
                font-weight: 500 !important;
              }

              td {
                padding: 8px;
                border: 1px solid #dfdfdf;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    .buttons {
      .cancel {
        border: 1px solid #1b1464;
        border-radius: 10px;
        padding: 22px 50px;
      }

      .save {
        border: 1px solid #1b1464;
        border-radius: 10px;
        padding: 22px 50px;
        background-color: #1b1464;
      }
    }
  }
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 4px;
  height: 90vh;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}
