footer {
    border-top: 1px solid rgb(228, 221, 221);
    color: #0b2170;
    font-size: 14px;
    letter-spacing: .6px;
    padding: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  