<div class="companies-page mt-4">
  <div class="container">
    <div class="operations-dropdown d-flex align-items-center justify-content-end">
      <button class="border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-brands fa-trade-federation"></i>
        Operations
      </button>
      <ul class="dropdown-menu">
        <li>
          <button (click)="openDialog()" class="dropdown-item d-flex align-items-center gap-2 fw-medium">
            <img src="http://192.168.37.32:5050/assets/img/create.svg" alt="create">
            Create
          </button>
        </li>
        <li>
          <button (click)="openDialog(selectedCompanyId)" [ngClass]="showButton ? 'd-block' : 'd-none'"
            class="dropdown-item d-flex align-items-center gap-2 fw-medium mt-1">
            <img src="http://192.168.37.32:5050/assets/img/edit.svg" alt="edit">
            Edit
          </button>
        </li>
        <li>
          <button (click)="deleteCompany()" [ngClass]="showButton ? 'd-block' : 'd-none'"
            class="dropdown-item d-flex align-items-center gap-2 fw-medium mt-1">
            <img src="http://192.168.37.32:5050/assets/img/delete.svg" alt="delete">
            Delete
          </button>
        </li>
        <li>
          <button (click)="exportexcel()" class="dropdown-item d-flex align-items-center gap-2 fw-medium mt-1">
            <img src="http://192.168.37.32:5050/assets/img/excel.svg" alt="excel">
            Download to Excel
          </button>
        </li>
      </ul>
    </div>

    <div class="mat-elevation-z8 mt-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="searchForm" (keydown.enter)="onEnter($event)">
        <table id="company-table" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="companyType">
            <th class="text-center align-middle fw-bold py-2  " mat-header-cell *matHeaderCellDef>
              <div class="inputbox position-relative" tabindex="1">
                <span class="w-100">Company Type</span>
                <input formControlName="type" class="form-control border-0 outline-0 shadow-none" type="text">
              </div>
            </th>
            <td class="align-middle" [ngClass]="{'selected': selectedCompanyId === element.id}" mat-cell
              *matCellDef="let element" (click)="onRowClick(element.id)"> {{element.type}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
              <div class="inputbox position-relative" tabindex="1">
                <span>Name</span>
                <input formControlName="name" class="form-control border-0 outline-0 shadow-none" type="text">
              </div>
            </th>
            <td class="align-middle" [ngClass]="{'selected': selectedCompanyId === element.id}" mat-cell
              *matCellDef="let element" (click)="onRowClick(element.id)"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="taxId">
            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
              <div class="inputbox position-relative" tabindex="1">
                <span>TAX ID</span>
                <input formControlName="taxId" class="form-control border-0 outline-0 shadow-none" type="text">
              </div>
            </th>
            <td class="align-middle" [ngClass]="{'selected': selectedCompanyId === element.id}" mat-cell
              *matCellDef="let element" (click)="onRowClick(element.id)"> {{element.taxId}} </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
              <div class="inputbox position-relative" tabindex="1">
                <span>Address</span>
                <input formControlName="address" class="form-control border-0 outline-0 shadow-none" type="text">
              </div>
            </th>
            <td class="align-middle" [ngClass]="{'selected': selectedCompanyId === element.id}" mat-cell
              *matCellDef="let element" (click)="onRowClick(element.id)"> {{element.address}} </td>
          </ng-container>
          <ng-container matColumnDef="mail">
            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
              <div class="inputbox position-relative" tabindex="1">
                <span>Mail</span>
                <input formControlName="email" class="form-control border-0 outline-0 shadow-none" type="text">
              </div>
            </th>
            <td class="align-middle" [ngClass]="{'selected': selectedCompanyId === element.id}" mat-cell
              *matCellDef="let element" (click)="onRowClick(element.id)"> {{element.email}} </td>
          </ng-container>
          <ng-container matColumnDef="sapCode">
            <th class="text-center align-middle fw-bold py-2" mat-header-cell *matHeaderCellDef>
              <div class="inputbox position-relative" tabindex="1">
                <span class="w-100">SAP code</span>
                <input formControlName="sapcode" class="form-control border-0 outline-0 shadow-none" type="text">
              </div>
            </th>
            <td class="align-middle" [ngClass]="{'selected': selectedCompanyId === element.id}" mat-cell
              *matCellDef="let element" (click)="onRowClick(element.id)"> {{element.sapcode}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </form>

      <mat-paginator [pageSizeOptions]="[15, 20, 25, 50]" showFirstLastButtons [length]="totalCount"
        (page)="onChangePage()" aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>