.profile {
    h5 {
      font-size: 19px;
    }
    .dropdown {
      button {
        .icon {
          background-color: #f5f4f9;
          padding: 4px 7px;
          border-radius: 8px;

          i {
            color: rgb(70, 12, 195);
            font-size: 14px;
          }
        }
      }
    }
  }